/.gitkeep
node_modules/
dist/
build/
yarn-debug.log*
yarn-error.log*
.gradle/
# Logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.idea/
.idea/*.xml
.vscode/

#java web server
*.iws
*.iml
*.ipr
.mvn
mvnw*
gradle/
gradlew
logs
log
temp

target/
out/

*.jar
*.war
*.zip
*.rar
*.bat
application-*.yml
#exclude
!application-template.yml

